<div class="about-me-text my-5">
    <p class="sub-title">My Work</p>
    <h3>RECENT WORK</h3>
</div>

<div class="row mb-5">
    <div class="col-md-2">
        <a routerLink="#" class="text-info text-decoration-none">Graphic Design</a>
    </div>
    <div class="col-md-2">

        <a routerLink="#" class="text-decoration-none text-dark">Web Design</a>
    </div>
    <div class="col-md-2">
        <a class="text-decoration-none text-dark" routerLink="#">Front End</a>
    </div>
</div>

<div class="row">
    <div class="col-md-4 animate-box">
        <div class="project" style="background-image: url(https://placehold.co/100);">
            <div class="desc">
                <div class="con py-5">
                    <h3><a>Work 01</a></h3>
                    <span>Website</span>
                    <div class="icon d-flex justify-content-between text-light">
                        <span><a class="text-decoration-none"><fa-icon [icon]="faShare"></fa-icon></a></span>
                        <span><a class="text-decoration-none"><fa-icon [icon]="faFileWord"></fa-icon> 100</a></span>
                        <span><a class="text-decoration-none"><fa-icon [icon]="faEye"></fa-icon> 49</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 animate-box">


        <div class="project" style="background-image: url(https://placehold.co/100);">
            <div class="desc">
                <div class="con py-5">
                    <h3><a>Work 01</a></h3>
                    <span>Website</span>
                    <div class="icon d-flex justify-content-between text-light">
                        <span><a class="text-decoration-none"><fa-icon [icon]="faShare"></fa-icon></a></span>
                        <span><a class="text-decoration-none"><fa-icon [icon]="faFileWord"></fa-icon> 100</a></span>
                        <span><a class="text-decoration-none"><fa-icon [icon]="faEye"></fa-icon> 49</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-4 animate-box">
        <div class="project" style="background-image: url(https://placehold.co/100);">
            <div class="desc">
                <div class="con py-5">
                    <h3><a>Work 01</a></h3>
                    <span>Website</span>
                    <div class="icon d-flex justify-content-between text-light">
                        <span><a class="text-decoration-none"><fa-icon [icon]="faShare"></fa-icon></a></span>
                        <span><a class="text-decoration-none"><fa-icon [icon]="faFileWord"></fa-icon> 100</a></span>
                        <span><a class="text-decoration-none"><fa-icon [icon]="faEye"></fa-icon> 49</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
    <div class="col-md-4 animate-box">
        <div class="project" style="background-image: url(https://placehold.co/100);">
            <div class="desc">
                <div class="con py-5">
                    <h3><a>Work 01</a></h3>
                    <span>Website</span>
                    <div class="icon d-flex justify-content-between text-light">
                        <span><a class="text-decoration-none"><fa-icon [icon]="faShare"></fa-icon></a></span>
                        <span><a class="text-decoration-none"><fa-icon [icon]="faFileWord"></fa-icon> 100</a></span>
                        <span><a class="text-decoration-none"><fa-icon [icon]="faEye"></fa-icon> 49</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="col-md-4 animate-box">
        <div class="project" style="background-image: url(https://placehold.co/100);">
            <div class="desc">
                <div class="con py-5">
                    <h3><a>Work 01</a></h3>
                    <span>Website</span>
                    <div class="icon d-flex justify-content-between text-light">
                        <span><a class="text-decoration-none"><fa-icon [icon]="faShare"></fa-icon></a></span>
                        <span><a class="text-decoration-none"><fa-icon [icon]="faFileWord"></fa-icon> 100</a></span>
                        <span><a class="text-decoration-none"><fa-icon [icon]="faEye"></fa-icon> 49</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 animate-box">
        <div class="project" style="background-image: url(https://placehold.co/100);">
            <div class="desc">
                <div class="con py-5">
                    <h3><a>Work 01</a></h3>
                    <span>Website</span>
                    <div class="icon d-flex justify-content-between text-light">
                        <span><a class="text-decoration-none"><fa-icon [icon]="faShare"></fa-icon></a></span>
                        <span><a class="text-decoration-none"><fa-icon [icon]="faFileWord"></fa-icon> 100</a></span>
                        <span><a class="text-decoration-none"><fa-icon [icon]="faEye"></fa-icon> 49</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>