<div class=" d-flex flex-column justify-content-start align-items-center bg-body-tertiary  h-100">

  <div class="d-flex flex-column justify-content-start align-items-center my-3">
    <figure>
      <img src="https://placehold.co/150" class="rounded-circle" alt="">
    </figure>
    <div>
      <h4>Ahmed Elkoumy</h4>
      <p><span class="text-info">Front End Developer</span> in egypt</p>
    </div>
  </div>
  <ul class="d-flex flex-column justify-content-center align-items-center sidebar-group">
    <li class="text-center sidebar-group-item">
      <a routerLinkActive="active-sidebar" routerLink="home">Home </a>
    </li>
    <li class="text-center sidebar-group-item">
      <a routerLinkActive="active-sidebar" routerLink="about">About</a>
    </li>
    <li class="text-center sidebar-group-item">
      <a routerLinkActive="active-sidebar" routerLink="gallery">services</a>
    </li>
    <li class="text-center sidebar-group-item">
      <a routerLinkActive="active-sidebar" routerLink="skills">skills</a>
    </li>
    <li class="text-center sidebar-group-item">
      <a routerLinkActive="active-sidebar" routerLink="education">Education</a>
    </li>
    <li class="text-center sidebar-group-item">
      <a routerLinkActive="active-sidebar" routerLink="exprince">Exprince</a>
    </li>
    <li class="text-center sidebar-group-item">
      <a routerLinkActive="active-sidebar" routerLink="work">work</a>
    </li>
    <li class="text-center sidebar-group-item">
      <a routerLinkActive="active-sidebar" routerLink="blog">blog</a>
    </li>
    <li class="text-center sidebar-group-item">
      <a routerLinkActive="active-sidebar" routerLink="contact">contact</a>
    </li>
  </ul>
</div>